extends layout

block link
  link(rel='stylesheet', href='/stylesheets/principal.css')

block scripts
  script(src='/javascripts/contenido.js')

block content
  //-h1= title
  //-span Fecha creación: #[span#fecha]
  header
    nav#menu-interno
      ul
    img#img(width='100%')
    div#nombre
  section#contenido-inicial