extends layout

block link
  link(rel='stylesheet', href='/stylesheets/index.css')

block scripts
  script(src='/javascripts/index.js')

block content
  section#carousel
    aside#left <
    div
      span Noticia destacada
      br
      a(href='#') Ver más
    aside#right >
  section#squares