doctype html
html
  head
    meta(http-equiv='X-UA-COMPATIBLE', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/menu.js')
    block scripts
  body
    aside(class='search-container')
      div
        aside(class='close')
        input(type='text', placeholder='Ingrese su búsqueda...')
        div(class='btn-search')
    header
      section(class='fst-part')
        aside(class='btn-menu')
          button
        a(href='/')
          div(class='logo-u')
        section(class='bread-crumb')
      section(class='scd-part')
    aside(class='menu-container')
      nav(class='menu-ppal')
        div
          span(onclick='window.location.href = "/"') Inicio

    section(class='content')
      block content
    footer
      section(class='info-u')
        img(src='/images/logo.png')
        span Edificio Fundadores Av. Cra 9 No. 131 A - 02
        span Línea Gratuita 018000 113033
        span PBX (571) 6489000
      section(class='menu-dir')
        nav(class='menu')
          a(href='/') Inicio