doctype html
html
  head
    meta(http-equiv='X-UA-COMPATIBLE', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    block link
    script(src='/javascripts/utils.js')
    script(src='/javascripts/menu.js')
    block scripts
  body
    aside.search-container
      div
        aside.close
        input(type='text', placeholder='Ingrese su búsqueda...')
        div.btn-search
    header.head
      section.fst-part
        aside.btn-menu
          button
        div.logo-u(onclick='window.location.href = "/"')
        section.bread-crumb
      section.scd-part
    aside.menu-container
      nav.menu-ppal
        div
          span(onclick='window.location.href = "/"') Inicio

    section.content
      block content
    footer
      section.info-u
        img(src='/images/logo.png')
        span Edificio Fundadores Av. Cra 9 No. 131 A - 02
        span Línea Gratuita 018000 113033
        span PBX (571) 6489000
      section.menu-dir
        nav.menu
          a(href='/') Inicio