doctype html
html
  head
    meta(http-equiv='X-UA-COMPATIBLE', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    title= title
    link(rel='stylesheet', href='/stylesheets/font.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/menu.js')
    block scripts
  body
    header
      section(class='fst-part')
        aside(class='btn-menu')
          button
        div(class='logo-u')
        section(class='bread-crumb')
      section(class='scd-part')
    aside(class='menu-container')
      nav(class='menu-ppal')
        div
          a(href='#') Inicio
        div
          a(href='#') Responsabilidad social
        div
          a(href='#') Egresados
        div
          a(href='#') Calidad
        div
          a(href='#') Curricular
        div
          a(href='#') Comunicaciones
        div
          a(href='#') Investigaciones
        div
          a(href='#') Prácticas Empresariales
        div
          a(href='#') Éxito estudiantil
        div
          a(href='#') Internacionalización
        div
          a(href='#') Contáctenos

    section(class='content')
      block content
    footer
      section(class='info-u')
        img(src='/images/logo.png')
        span Edificio Fundadores Av. Cra 9 No. 131 A - 02
        span Línea Gratuita 018000 113033
        span PBX (571) 6489000
      section(class='menu-dir')
        nav(class='menu')
          a(href='#') Inicio
          a(href='#') Responsabilidad social
          a(href='#') Egresados
          a(href='#') Calidad
          a(href='#') Curricular
          a(href='#') Comunicaciones
          a(href='#') Investigaciones
          a(href='#') Prácticas Empresariales
          a(href='#') Éxito estudiantil
          a(href='#') Internacionalización
          a(href='#') Contáctenos