@import url('head.css');

@import url('content.css');

@import url('foot.css');

@import url('menu.css');

html, body{
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'latoregular';
}

body{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: none;
	-ms-flex-direction: column;
	flex-flow: column nowrap;
}