aside.menu-container{
	position: fixed;
	top: 50px;
	bottom: 0;
	width: 300px;
	overflow-x: hidden;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    left: 0;
    z-index: 10;
    display: -ms-flexbox;
    display: flex;
    visibility: hidden;
}

aside.menu-container.show{
	visibility: visible;
}

nav.menu-ppal{
	position: fixed;
	top: 50px;
	bottom: 0;
	width: 300px;
    background-color: #F2F2F2;
	overflow-x: hidden;
	overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    left: 0;
    z-index: 10;
    -ms-flex: 1 1 auto;
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: none;
	-ms-flex-direction: column;
	flex-flow: column nowrap;
	-ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
	
	nav.menu-ppal > div{
		padding: 10px;
		cursor: pointer;
		width: calc(100% - 20px);
		text-align: left;

		background-position: 10px center;
		background-repeat: no-repeat;
		background-size: 30px;
	}

	nav.menu-ppal > div:hover{
		background-color: #7BC142;
	}

		nav.menu-ppal > div > span{
			color: #2e2e2e;
			text-transform: uppercase;
			margin-left: 40px;
		}

aside.menu-container nav.menu-ppal{
	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    transform: translateX(-2em);
    visibility: hidden;
    /*opacity: 0.5;*/
    left: -300px;
}

aside.menu-container.show nav.menu-ppal{
	/*opacity: 1;*/
	transform: translateX(0%);
	transition-delay: 0s, 0s, 0.3s;
	visibility: visible;
	left: 0;
}

@media (max-width: 768px){
	aside.menu-container{
		right: 0;
		width: inherit !important;
	}

	nav.menu-ppal{
		width: 100% !important;
		position: absolute !important;
		left: inherit !important;
		top: 0;
		bottom: 0;
	}

	aside.btn-menu{
		position: relative !important;
	}

	aside.menu-container nav.menu-ppal{
		transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
	    transform: translateY(-100%);
	    visibility: hidden;
	    /*opacity: 0.5;*/
	}

	aside.menu-container.show nav.menu-ppal{
		/*opacity: 1;*/
		transform: translateY(0%);
		transition-delay: 0s, 0s, 0.3s;
		visibility: visible;
	}
}