html, body {
  margin: 0;
  padding: 0;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column nowrap;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  min-height: 100%;
}

button{
  border: none;
  background: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 5px 5px;
}

button:hover{
  background-color: red;
  color: white;
}

